p {
	margin-top: 0;
	margin-bottom: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

.profile-card {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	padding-bottom: 12px;
}

.thumbnail {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.profile-info {
	margin-left: 12px;
}

.profile-name {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.description {
	display: grid;
	align-items: center;
	grid-template-columns: 35px 1fr;
	gap: 10px;
	margin-bottom: 10px;
}

.round-profile {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.mutual-friends {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #666;
}

.add-friend {
	font-family: "Roboto", sans-serif;
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
